@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
      
    body {
        font-family: 'Roboto', sans-serif;
    }
    /* Style for the navigation bar */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #07626e;
        color: #fff;
        padding: 10px;
    }

    /* Style for the search bar */
    #search-bar {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 200px;
        margin-right: 10px;
    }

 

    .collapsible {
        display: flex;
        align-items: center;
        background-color: #ddd;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 0; 
        line-height: 50px; 
    }
    
    .icon {
        width: 50px;  /* Adjust as needed */
        height: 50px;  /* Adjust as needed */
        margin-right: 10px;
    }
    
    .content {
        padding: 0 18px;
        display: none;  /* Hide content by default */
        background-color: #f1f1f1;
    }

    ul {
        list-style-type: none;
        width: 80%;  /* Adjust as needed */
        margin: 20px auto 0;   /* Centers the list */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    li {
        margin-bottom: 20px;  /* Adjust as needed */
    }

    .content ul {
        list-style-type: none;  /* Removes the bullet points */
        padding: 0;  /* Removes the default padding */
        display: table;
        width: 100%;  
        margin: 0;
    }
    
    .content li {
        margin-bottom: table-row;  /* Adds space between the paths */
    }

    .content li a {
        display: table-cell;  /* Makes the links behave like table cells */
        padding: 10px;  /* Adds padding to the cells */
        border-bottom: 1px solid #ddd;  /* Adds a border to the bottom of the cells */
        text-decoration: none; 
        color: black; 
    }
    .ui-dialog {
        background: white;
        opacity: 1;
        z-index: 1000; 
        position: fixed !important; 
        top: 50% !important; 
        left: 50% !important;
        transform: translate(-50%, -50%); 
    }
/*     
    .ui-datepicker .ui-datepicker-prev {
        float: left;
    }
    
    .ui-datepicker .ui-datepicker-next {
        float: right !important;
        margin-right: 0 !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        float: right;
    } */

/*   

    .ui-datepicker {
        width: 216px;
        height: auto;
        margin: 5px auto 0;
        font: 9pt Arial, sans-serif;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
      }

    .ui-datepicker a {
        text-decoration: none;
      }

    .ui-datepicker table {
    width: 100%;
    }

    .ui-datepicker-header {
        background: url('../img/dark_leather.png') repeat 0 0 #000;
        color: #e0e0e0;
        font-weight: bold;
        -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
        -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
        text-shadow: 1px -1px 0px #000;
        filter: dropshadow(color=#000, offx=1, offy=-1);
        line-height: 30px;
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: #111;
      }

      .ui-datepicker-title {
        text-align: center;
      }

      .ui-datepicker-prev, .ui-datepicker-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        background-image: url('../img/arrow.png');
        background-repeat: no-repeat;
        line-height: 600%;
        overflow: hidden;
      }

      .ui-datepicker-prev {
        float: left;
        background-position: center -30px;
      }
      .ui-datepicker-next {
        float: right;
        background-position: center 0px;
      }

      .ui-datepicker thead {
        background-color: #f7f7f7;
        background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));
        background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
        background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
        background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
        background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );
        border-bottom: 1px solid #bbb;
      }

      .ui-datepicker th {
        text-transform: uppercase;
        font-size: 6pt;
        padding: 5px 0;
        color: #666666;
        text-shadow: 1px 0px 0px #fff;
        filter: dropshadow(color=#fff, offx=1, offy=0);
      }

      .ui-datepicker tbody td {
        padding: 0;
        border-right: 1px solid #bbb;
      } */